<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>首页</title>
<link rel="stylesheet" type="text/css" href="/awebStyle/css/reset.css">
<link rel="stylesheet" type="text/css" href="/awebStyle/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/awebStyle/css/mystyle.css">
<script type="text/javascript" src="/awebStyle/js/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="/awebStyle/confirm/confirm.css">
<script type="text/javascript" src="/awebStyle/confirm/confirm.js"></script>
<script type="text/javascript">
	$(function() {
		$("#keyString").focus(function() {
			if ($(this).val() == this.defaultValue) {
				$(this).val("");
			}
		}).blur(function() {
			$(this).removeClass("focus");
			if ($(this).val() == "") {
				$(this).val(this.defaultValue);
			}
		})
	})

	function introduce() {
		window.location.href = "/index/introduce";
	}
	function list() {
		window.location.href = "/index/hostList";
	}
	function goSearch(e) {
		//$("#key").val(e);
		var url = "/index/search?key=" + e + "";
		window.location.href = url;
	}
	//提示框js
	function submitForm() {
		var keyString = $("#keyString").val();
		keyString = encodeURI(encodeURI(keyString));
		window.location.href = "/index/searchList?keyString=" + keyString + "";
	}
</script>
</head>
<body>
	<input type="hidden" name="key" id="key">
	<div class="main-content fadeInLeftBig animated" th:style="|background-image:url(/myImage/${tBackgroundPic.picture} ) !important;|">
		<div class="hearder-box">
			<div class="left-logo" onclick="introduce()">
				<img src="/awebStyle/images/logo.png">
			</div>
			<div class="serach-box">
				<input type="text" id="keyString" name="" class="input-text" value="快速搜索">
				<span class="se-icon" onclick="submitForm()">
					<img src="/awebStyle/images/search.png">
				</span>
			</div>
		</div>
		<div class="right-box">
			<div th:each=" menu,menuStat:${tMenus}" th:onclick="${menuStat.count<=5}? 'goSearch('+${menuStat.count}+')':'list()'" class="icon-box fadeIn animated"
				style="animation-delay: 1s;">
				<div class="icon-pic">
					<img th:src="|/myImage/${menu.icon1}|">
				</div>
				<p th:text="${menu.name}">${msg.fName}</p>
			</div>
		</div>
	</div>
</body>
</html>