<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
        <title>关于圣象</title>
        <link rel="stylesheet" type="text/css" href="/awebStyle/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/awebStyle/css/animate.min.css">
        <link rel="stylesheet" type="text/css" href="/awebStyle/css/head-foot.css">
        <link rel="stylesheet" type="text/css" href="/awebStyle/search-icon/iconfont.css">
        <link rel="stylesheet" type="text/css" href="/awebStyle/css/list-style.css">
    </head>
    <body>
       	<div class="introduce-content fadeInLeftBig animated"> 
       	     <div class="top-header">
		    		<div class="left-back" onclick="javascript:history.go(-1)"><i class="icon iconfont icon-fanhui" style="font-size:22px;"></i></div>
		    		<div class="con-text">关于圣象</div>
		    		<!-- <div class="right-txt"><i class="icon iconfont icon-zhongzhi"></i>重置</div> -->
		     </div>
		     <div class="text-content" >
	       		<div class="text-pic"><img th:src="|/myImage/${tAboutPowerDekor.picture}|" style="height:234px"></div>
	       	    <div th:text="${tAboutPowerDekor.content}"></div>
	         </div>
       	</div>
    </body>
</html>