<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<title>空间应用</title>
<link rel="stylesheet" type="text/css" href="/awebStyle/css/reset.css">
<link rel="stylesheet" type="text/css" href="/awebStyle/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/awebStyle/iconfont/iconfont.css">
<link rel="stylesheet" type="text/css" href="/awebStyle/search-icon/iconfont.css">
<link rel="stylesheet" type="text/css" href="/awebStyle/oneicon/iconfont.css">
<link rel="stylesheet" type="text/css" href="/awebStyle/history/iconfont1.css">
<link rel="stylesheet" type="text/css" href="/awebStyle/css/list-style.css">
<link rel="stylesheet" type="text/css" href="/awebStyle/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/awebStyle/css/search.css">
<link rel="stylesheet" type="text/css" href="/awebStyle/css/compare.css">
<link rel="stylesheet" type="text/css" href="/awebStyle/css/head-foot.css">
<script type="text/javascript" src="/awebStyle/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/awebStyle/js/jqthumb.min.js"></script>
<link rel="stylesheet" type="text/css" href="/awebStyle/css/baguetteBox.css">
<script type="text/javascript" src="/awebStyle/js/baguetteBox.js"></script>
<link rel="stylesheet" type="text/css" href="/awebStyle/confirm/confirm.css">
<script type="text/javascript" src="/awebStyle/confirm/confirm.js"></script>
<script type="text/javascript" src="/awebStyle/js/swiper.min.js"></script>
<script type="text/javascript" src="/barCode/utf.js"></script>
<script type="text/javascript" src="/barCode/jquery.qrcode.js"></script>
<style type="text/css">
.swiper-pagination-fraction {
	font-size: 14px;
	color: #323c3f;
}

.swiper-container {
	font-size: 14px;
	color: #333;
}

.aaa {
	display: none;
	position: absolute;
	right: 0px;
	top: 10px;
	border: 1px solid #ccc
}
</style>
<script type="text/javascript">
	//历史记录
	$(function() {
		var $hisbtn = $(".historyBtn");
		$hisbtn
				.click(function() {
					$
							.ajax({
								type : "post",
								url : "/index/getLsjlPro",
								datatype : "json",
								success : function(msg) {
									var n = msg.length;
									var str = "";
									$(".history-ul").empty();
									if (n == 0) {
										$(".history-ul")
												.append(
														'<li class="alertText">没有记录</li>');
									} else {
										for (var i = 0; i < n; i++) {
											$(".history-ul")
													.append(
															"<li onclick=gokongjian('"
																	+ msg[i].id
																	+ "')><label><div class='img-sm'> <img  src='/myImage/"+msg[i].picturepath+"' class='Himg'/></div>"
																	+ "<input name='fProductId' id='fPid' onchange='getDetail()' value="
																	+ msg[i].id
																	+ " "
																	+ "type='radio'>"
																	+ "<span class='lbl'></span></label>"
																	+ "</label><p class='sm-name'>"
																	+ msg[i].name
																	+ "/"
																	+ msg[i].code
																	+ "</p></li>");
										}
									}
								}
							});
					//$('.close-mask').fadeToggle();
					$('.history-con').fadeToggle();

				});
		$('.closeBtn').click(function() {
			$('.history-con').fadeToggle();
		})
	})
	//点击图片变大
	window.onload = function() {
		baguetteBox.run('.baguetteBoxOne');
	};
	//缩略图不变形
	$(function() {
		$('.threeimg').jqthumb({
			width : 260,
			height : 180,
		})
	});
	$(function() {
		$('.twoimg').jqthumb({
			width : 130,
			height : 50,
		});
		$('.Himg').jqthumb({
			width : 128,
			height : 60,
		});
	});
	//客服
	$(function() {
		$('.kefu').click(function() {
			$.MsgBox.Alert("温馨提示", "已为您通知导购！");
		})
	})
	//点选空间
	$(function() {
		$(".stylebox li").click(function() {
			$(this).toggleClass('active');
		});
	})
	//点选地板
	$(function() {
		$(".sec-pic li").click(function() {
			$(this).addClass('active').siblings().removeClass('active');
		});
	})
	function goIndex() {
		window.location.href = "/index/index";
	}
	function getDetail() {
		var fProductId = $('input[name="fProductId"]:checked ').val();
		var Status = $("#Status").val();
		if (fProductId != null && fProductId != "") {
			$
					.ajax({
						cache : false,
						type : "post",
						url : "/index/getDetail",
						dataType : "json",
						data : $('#form1').serialize(),// 你的formid
						async : true,
						success : function(msg) {
							if (msg.length == 0) {
								$("#detailRoom").html("未找到符合条件的效果图！");
							} else {
								$("#detailRoom").html("");
								var newhtml = "";
								$
										.each(
												msg,
												function(i, item) {
													newhtml += "<div class='smpic swiper-slide'><a href='/"+item.picture+"' data-caption='"+item.productName+"/"+item.productCode+"'>";
													newhtml += "<img src='/"+item.picture64+"' class='threeimg'>";
													newhtml += "</a>";
													newhtml += "</div>";
													baguetteBox
															.run('.baguetteBoxOne');
													$("#detailRoom").html(
															newhtml);
												})
								$('.threeimg').jqthumb({
									width : 260,
									height : 180,
								});
								baguetteBox.run('.baguetteBoxOne');
							}
						},
						error : function() {
							$.MsgBox.Alert("温馨提示", "稍后再试");
						}
					});
			if (Status == '0') {
				$
						.ajax({
							cache : false,
							type : "post",
							url : "/index/getkongjian",
							dataType : "json",
							data : {
								fProductId : fProductId
							},// 你的formid
							async : true,
							success : function(msg) {
								if (msg.length == 0) {
								} else {
									$("#ls").html("");
									newhtml = "<input name='fId2' value="+msg.code+" checked='checked' type='checkbox'>";
									newhtml += "<input name='fId' type='checkbox' checked='checked' value="+msg.id+">"
									newhtml += "<li class='active'>";
									newhtml += "<label>";
									newhtml += "<div class='sec-box'> <img src='/"+msg.picture+"' class='twoimg'/></div>";
									newhtml += "<span class='lbl'></span>";
									newhtml += "</label>";
									newhtml += "<ul class='three-text'>";
									newhtml += "<li>" + msg.name + "/"
											+ msg.code + "</li>";
									newhtml += "</ul>";
									newhtml += "</li>";
									$("#ls").html(newhtml);
								}
							},
							error : function() {
								$.MsgBox.Alert("温馨提示", "稍后再试");
							}
						});
			}
		}
	}
	//点击重置
	$(function() {
		$(".right-txt").click(
				function() {
					var Status = $("#Status").val();
					if (Status == 1) {
					} else {
						Status = 2;
					}
					var fProductId = $("#fProductId").val();
					var url = "/index/kongjian?fProductId=" + fProductId
							+ "&Status=" + Status + "";
					document.forms["form1"].action = url;
					document.forms["form1"].submit(); // 提交表单
				});
	})
	function goback() {
		var Status = $("#Status").val();
		if (Status == '0' || Status == '2') {
			window.location.href = "/index/list";
		} else {
			var url = "/index/compare";
			document.forms["form1"].action = url;
			document.forms["form1"].submit(); // 提交表单
		}
		//window.history.back();
	}
	$(function() {
		$("#openDiv").click(function() {
			$(".aaa").toggle();
		})
	})
</script>
</head>
<body>
	<form id="form1" name="form1" method="post">
		<div class="content-box fadeInLeftBig animated">
			<div class="top-header">
				<div class="left-back" onclick="goback()">
					<i class="icon iconfont icon-fanhui" style="font-size: 22px;"></i>
				</div>
				<div class="con-text">空间应用</div>
				<div class="right-txt">
					<i class="icon iconfont icon-zhongzhi"></i>
					重置
				</div>
			</div>
			<div class="second-module fadeIn animated" style="animation-delay: 1s; padding-bottom: 2px;">
				<ul class="ul-btn style-btn kongjianli">
					<li th:each="msg:${tStyles}">
						<label>
							<input name="styles" onchange="getDetail()" th:value="${msg.id}" type="checkbox">
							<span class="lbl" th:text="${msg.name}"></span>
						</label>
					</li>
				</ul>
			</div>
			<div class="fist-module  fadeIn animated " style="animation-delay: 1s;">
				<!-- <p class="smalltext">1. 点击选择一个空间</p> -->
				<ul class="stylebox">
					<li>
						<label th:each="msg:${tRoomTypes}">
							<div class="smallpic" ><img alt="" th:src="|/myImage/${msg.picture}|" /></div>
							<input name="tRoomType" onchange="getDetail()" value="${msg.id}" type="checkbox" />
							<span class="lbl"></span>
							<p class="style-name" th:text="${msg.name}"></p>
						</label>
					</li>
				</ul>
			</div>
			<div class="second-module fadeIn animated" style="animation-delay: 1s;">
				<ul class="sec-pic " id="ls">
					<li class="active" th:each="msg,msgStat:${tProducts}">
						<input name="fId2" th:value="${msg.code}" checked="checked" type="checkbox">
						<input name="fId" type="checkbox" checked="checked" th:value="${msg.id}">
						<label>
							<div class="sec-box">
								<img th:src="|/myImage/${msg.picturepath}|" class="twoimg" />
							</div>
							<input name="fProductId" id="fProductId" onchange="getDetail()" th:value="${msg.id}" type="radio" th:checked="${msgStat.count==1}">
							<span class="lbl"></span>
						</label>
						<ul class="three-text">
							<li th:text="|${msg.name}/${msg.code}|"></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="three-module fadeIn animated" style="animation-delay: 1.5s;">
				<div class="swiper-container baguetteBoxOne">
					<div class="three-pic swiper-wrapper" id="detailRoom">
						<div class="smpic swiper-slide" th:each="msg:${tProductDetails}">
							<a th:href="|/myImage/${msg.picture}|" th:data-caption="|${msg.productName}/${msg.productCode}|">
								<img th:src="|/myImage//${msg.fPicture64}|" class="threeimg">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--footer-->
		<div class="foot-box">
			<ul>
				<li>
					<p class="historyBtn">
						<i class="icon iconfont icon-lishijilu" style="font-size: 18px;"></i>
						历史记录
					<div class="history-con">
						<p class="closeBtn"></p>
						<ul class="history-ul">
						</ul>
					</div>
				</li>
				<li onclick="goIndex()">
					<p class="back-home">
						<i class="icon iconfont icon-home"></i>
						返回主界面
				</li>
				<li>
					<p class="download" style="width: 208px;" onclick="onLoad()">
						<i class="icon iconfont icon-download"></i>
						下载全部
					</p>
				</li>
			</ul>
		</div>
	</form>
	<!--二维码弹框-->
	<input type="hidden" id="Status" th:value="${Status}">
	<div class="md-modal zxl2">
		<div class="bg-close"></div>
		<div class="content">
			<div class="code-content">
				<div class="left-code">
					<img src="/awebStyle/images/code-bg.jpg">
				</div>
				<div class="right-code">
					<!-- <div class="close"><i class="icon iconfont icon-close"></i></div> -->
					<div class="code-logo">
						<img style="height: 47px" src="/awebStyle/images/code-logo.png">
					</div>
					<p class="code-txt">用手机微信扫描二维码</p>
					<div class="code-border">
						<div class="code" id="qrcode" style="text-align: center; padding-top: 5px">
							<img src="/awebStyle/images/code.png">
						</div>
					</div>
				</div>
			</div>
			<button class="md-close" style="display: none;">Close me!</button>
		</div>
	</div>
	<script>
		var swiper = new Swiper('.swiper-container', {
			pagination : '.swiper-pagination',
			slidesPerView : 3,
			slidesPerGroup : 3,
			slidesPerColumn : 2,
			paginationType : 'fraction',
			slidesPerColumnFill : 'row',
			paginationClickable : true,
			spaceBetween : 20,
			freeModeMomentumRatio : 100,
			observer : true,
			observeParents : true
		});
		function onLoad() {
			var url = '${nowUrl}';
			var fId = $("input[name='fId2']:checked").serialize();
			$("#qrcode").empty();
			$("#qrcode").qrcode({
				text : url + "/index/loadProduct?" + fId + "",
				height : 130,
				width : 130,
				src : ''
			});
			$('.zxl2').fadeIn();
			$(".content-box").addClass('container');

		}
		$(function() {
			$('.bg-close').click(function() {
				$('.zxl2').fadeOut();
				$(".content-box").removeClass('container');
			})
		})
	</script>
</body>
</html>