<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>产品列表</title>
<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  minimum-scale=1.0, user-scalable=0" />
<link rel="stylesheet" type="text/css" href="/phone/css/reset.css">
<link rel="stylesheet" type="text/css" href="/phone/search-icon/iconfont.css">
<link rel="stylesheet" type="text/css" href="/phone/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/phone/css/phone.css">
<script type="text/javascript" src="/phone/js/base.js"></script>
<script type="text/javascript" src="/phone/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/phone/js/swiper.min.js"></script>
<link rel="stylesheet" type="text/css" href="/awebStyle/confirm/confirm.css">
<script type="text/javascript" src="/awebStyle/confirm/confirm.js"></script>
<style type="text/css">
.swiper-lazy-preloader {
	top: 150px;
	width: 32px;
	height: 32px;
}

.swiper-pagination {
	color: #fff;
	font-size: 10px;
}
</style>

<script type="text/javascript">
	function getDetail() {
		var e = $("#productId").val();
		$
				.ajax({
					cache : false,
					type : "post",
					url : "/index/proDetail",
					dataType : "json",
					data : {
						fProductId : e
					},// 你的formid
					async : true,
					success : function(msg) {
						if (msg != "" && msg != null) {
							//alert(msg);
							$("#detailBox").html("");
							var newhtml = "";
							$
									.each(
											msg,
											function(i, item) {
												newhtml += "<div class='swiper-slide'>";
												newhtml += "<img data-src='/myImage/"+item.picture3+"'class='det-pic swiper-lazy'>";
												newhtml += " <div class='swiper-lazy-preloader swiper-lazy-preloader-white'></div>"
												newhtml += "</div>";
												$("#detailBox").html(newhtml);
											})
						} else {
							$.MsgBox.Alert("温馨提示", "没有效果图！");
							$('.mask-bg').fadeOut();
						}
					},
					error : function() {
						$.MsgBox.Alert("温馨提示", "稍后再试");
					}
				});

	}
</script>
</head>
<body>
	<input type="hidden" id="productId" th:value="${tProducts[0].id}">
	<input type="hidden" th:value="${fIdsStr }" id="productIds">
	<div class="main-box">
		<div class="swiper-container swiper-pic">
			<div class="swiper-wrapper">
				<th:block th:each="msg,msgStat:${tProducts}">
					<input type="hidden" th:value="${msg.id}" th:id="|product${msgStat.count}|">
					<div class="swiper-slide">
						<div class="pic-box">
							<img th:src="|/myImage/${msg.picturepath}|">
						</div>
						<p class="name" th:utext="|${msg.name}&nbsp;/&nbsp;${msg.code}|"></p>
						<div class="canshu">
							<table>
								<tr>
									<td th:text="|品类：${msg.name}|"></td>
								</tr>
								<tr>
									<td th:text="|颜色：${msg.color}|"></td>
								</tr>
								<tr>
									<td th:text="|规格：${msg.spec}|"></td>
								</tr>
								<tr>
									<td th:text="|工艺：${msg.gongyi}|"></td>
								</tr>
								<tr>
									<td th:text="|销量：${msg.saled}|"></td>
								</tr>
							</table>
						</div>
					</div>
				</th:block>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<div class="footer">
		<button class="foot-btn" onclick="getDetail()">查看效果图</button>
	</div>
	<!--效果图弹框-->
	<div class="mask-bg">
		<div class="close-bg"></div>
		<!-- <div class="close"><img src="images/closepic.png"></div> -->
		<div class="modal-body">
			<div class="swiper-container modal-container ">
				<div class="swiper-wrapper" id="detailBox"></div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
	<!-- Initialize Swiper -->
	<script>
		var swiper = new Swiper('.swiper-pic', {
			pagination : '.swiper-pagination',
			paginationClickable : true,
			spaceBetween : 10,
			onSlideChangeEnd : function(swiper) {

				var num = swiper.activeIndex + 1
				var fProId = $("#product" + num + "").val();
				$("#productId").val(fProId);
			}

		});
	</script>

	<script>
		//详情
		var swiper = new Swiper('.modal-container', {
			pagination : '.swiper-pagination',
			paginationType : 'fraction',
			paginationClickable : true,
			paginationClickable : true,
			//autoHeight: true, //高度随内容变化
			spaceBetween : 10,
			observer : true,
			observeParents : true,
			preloadImages : false,
			// Enable lazy loading
			lazyLoading : true

		});
		$(function() {
			$('.mask-bg').hide();
			$('.foot-btn').click(function() {
				$('.mask-bg').fadeIn();
			});
			$('.close').click(function() {
				$('.mask-bg').fadeOut();
			});
			$('.mask-bg').click(function() {
				$('.mask-bg').fadeOut();
			})
		})
	</script>
</body>
</html>